.create-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    &__beauty-input {
        border-radius: 18px;
        border-color: white;
        padding: 12px 24px;
        font-size: 16px;
        background-color: #212121;
        color: #c2e7ff;
        margin-right: 5px;
        width: 70%;
    }
}
